@import "tailwindcss";

@font-face {
  font-family: "Lemon Milk";
  src: url("./assets/fonts/LEMONMILK-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.font-lemon {
  font-family: "Lemon Milk", sans-serif;
}